<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moveon.personalweb.dao.user.UserDao">
    <select id="getUser" resultType="com.moveon.personalweb.entity.user.User">
        select * from m_user where username = #{username} and password = #{password}
    </select>

    <insert id="registerUser" keyProperty="id" parameterType="com.moveon.personalweb.entity.user.User">
        insert into m_user() value(#{id},#{username},#{password},#{name},#{email},#{phone})
    </insert>
</mapper>