<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moveon.personalweb.dao.diary.DiaryDao">

    <insert id="writeDiary" keyProperty="id" parameterType="com.moveon.personalweb.entity.diary.Diary">
        insert into m_diary values(#{id}, #{userId}, #{diaryTitle}, #{diaryContent}, #{diaryAuthor}, #{diaryDate}, #{createDate}, #{updateDate}, #{isDeleted})
    </insert>

    <select id="getUserDiary" resultType="com.moveon.personalweb.entity.diary.Diary">
        select * from m_diary where userId = #{userId}
    </select>
</mapper>